@{
    if (!Request.IsLocal)
    {
    Response.Cache.SetValidUntilExpires(true);
    Response.Cache.SetExpires(DateTime.Now.AddDays(1));
    Response.Cache.SetCacheability(HttpCacheability.Public);

    string file = Server.MapPath(Request.CurrentExecutionFilePath);
    Response.AddFileDependency(file);
	Response.Cache.SetLastModifiedFromFileDependencies();
    }

    string title = Page.Title.Contains("Web Essentials") ? Page.Title : Page.Title + " - Web Essentials";
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="@Page.Keywords" />
    <meta name="description" content="@Page.Description" />
    <meta name="viewport" content="width=1024, user-scalable=yes" />
    <link rel="stylesheet" href="@Fingerprint.Tag("/content/all.min.css")" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- facebook info -->
    <meta name="og:title" content="@title" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="http://vswebessentials.com/" />
    <meta name="og:image" content="/images/logo_small.png" />
    <meta name="og:site_name" content="Web Essentials for Visual Studio" />

    <!-- twitter info -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@@mkristensen" />
    <meta name="twitter:title" content="@title" />
    <meta name="twitter:description" content="Web Essentials extends Visual Studio with a lot of new features that web developers have been missing for many years." />
    <meta name="twitter:image" content="http://vswebessentials.com/images/logo_small.png" />

    <!-- win8 -->
    <meta name="application-name" content="@title" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="msapplication-TileImage" content="/images/logo_small.png" />

    <!-- apple -->
    <link rel="apple-touch-icon" href="/images/logo_small.png" />

</head>
<body itemscope="itemscope" itemtype="http://schema.org/SoftwareApplication">

    <header>
        <a href="/" itemprop="url">
            <img itemprop="image" src="/images/logo_small.png" alt="Web Essentials for Visual Studio" width="90" height="90" />
            <p itemprop="name">Web Essentials</p>
            <span itemprop="description alternativeHeadline">A Visual Studio extension</span>
        </a>

        <aside>
            <a href="http://www.winhost.com/a/benet_b_127" target="_blank">
                <img src="/images/b_127.gif" width="468" height="60" alt="ASP.NET hosting - click here!" />
            </a>
        </aside>
    </header>

    <nav>
        <ul id="menu">
            <li><a href="/download">Download</a></li>
            <li>
                <a href="/features" itemprop="featureList">Features</a>
                <ul>
                    <li><a href="/features/general">General</a></li>
                    <li><a href="/features/stylesheets">Stylesheets</a></li>
                    <li><a href="/features/javascript">JavaScript</a></li>
                    <li><a href="/features/html">HTML</a></li>
                    <li><a href="/features/typescript">TypeScript</a></li>
                    <li><a href="/features/less">LESS</a></li>
                    <li><a href="/features/coffeescript">CoffeeScript</a></li>
                </ul>
            </li>
            <li>
                <a href="/contribute">Contribute</a>
                <ul>
                    <li><a href="https://github.com/madskristensen/WebEssentials2012">WE 2012 on GitHub</a></li>
                    <li><a href="https://github.com/madskristensen/WebEssentials2013">WE 2013 on GitHub</a></li>
                    <li><a href="http://webessentials.uservoice.com/">Suggest features</a></li>
                    <li><a href="https://github.com/madskristensen/vswebessentials.com">Help with this website</a></li>
                    <li><a href="https://github.com/madskristensen/zencoding">ZenCoding on GitHub</a></li>
                    <li><a href="https://github.com/madskristensen/CssSorter">CssSorter on GitHub</a></li>
                    <li><a href="https://github.com/madskristensen/WebEssentials2013/issues">Report bugs</a></li>
                </ul>
            </li>
            <li><a href="/changelog" itemprop="releaseNotes">Change log</a></li>
        </ul>
    </nav>

    <p class="sidewaffle">
        Remember to try <a href="http://sidewaffle.com">SideWaffle for VS</a>
    </p>

    <div id="main" role="main">
        <article>
            <h1>@Page.Title.Split('-')[0].Trim()</h1>

            @RenderBody()
        </article>
    </div>

    <footer>
        <section>
            <p>Copyright &copy; <span itemprop="copyrightYear">2012</span> - @DateTime.Now.Year</p>
            <p><a rel="author" href="http://madskristensen.net">Mads Kristensen</a></p>
        </section>

        <div>
            <meta itemprop="softwareApplicationCategory" content="Extension" />
            <meta itemprop="softwareApplicationSubCategory" content="WebTools" />
            <meta itemprop="inLanguage" content="en-us" />
            <meta itemprop="fileFormat" content="VSIX" />
            <meta itemprop="screenshot" content="/images/logo_big.png" />
        </div>

        <div itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="5" />
            <meta itemprop="ratingCount" content="103" />
        </div>

        <div itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
            <span itemprop="price">0.0</span>
            <meta itemprop="priceCurrency" content="USD" />
        </div>
    </footer>

    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37343662-1']);
        _gaq.push(['_trackPageview']);
    </script>
    <script src="/ga.js" async="async" defer="defer"></script>
</body>
</html>
